.footer-component{
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.menu-footer{
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-menu-title {
    font-size: 1.5em;
    margin: 0 auto;
    margin-bottom: 20px;
}

.menu-footer a{
    text-decoration: none;
    margin: 15px auto;
    color: gray;
    text-align: center;
    font-size: 1.1em
}


.footer-component .notice{
    width: 100%;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.048);
}

.footer-component .notice::after{
    left: 85.6%;
    top: 0.1px;
    bottom: 0;
    height: 80px;
    border-bottom-color: #000000;
    transform: rotate(180deg);
}

@media only screen and (max-width: 800px) {
    .footer-menu-title  {
        font-size: 1.2em
    }
    
    .menu-footer a{
        font-size: .9em
    }
}

@media only screen and (max-width: 600px) {
    .footer-component{
        flex-direction: column;
    }
    .footer-menu-title  {
        font-size: 1em
    }
    
    .menu-footer a{
        display: none;
    }
}

