
.indu {
    padding:  40px 0;
    position: relative;
    margin: auto 0;
    margin-bottom: 60px;
}

.indu .title-industry{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.indu .title-industry h1{
    font-size: 3.5vw;
    margin: 80px;
}

h3{
    font-size: 19px;
    font-size: 1.8vw;
    margin: 20px 0;
}

.list-items{
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}

.item{
    width: 17%;
    min-width: 150px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.item span{
    margin: 25px auto;
    font-size: 17px;
    text-align: center;
}

.item img {
    width: 50px;
    margin: 0 auto;
}

.indu .notice{
    width: 350px;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.048);
}

.indu .notice::after{
    left: 85.6%;
    top: 0.1px;
    bottom: 0;
    height: 80px;
    border-bottom-color: #000000;
    transform: rotate(180deg);
}



@media only screen and (max-width: 840px) {
    .indu .title-industry h1{
        font-size: 3.5vw;
        margin: 80px;
    }
    
    .indu .title-industry h3{
        font-size: 19px;
        font-size: 1.8vw;
        margin: 20px 0;
    }
}


@media only screen and (max-width: 1160px) {
    .indu .title-industry h1 {
        font-size: 3em;
    }
    .indu .title-industry h3{
        font-size: 1.3em;
        margin: 0;
    }
}

@media only screen and (max-width: 1030px) {
    .indu .title-industry h1 {
        font-size: 2.8em;
    }
    .indu .title-industry h3{
        font-size: 1.2em;
        margin: 0;
    }
    .item span{
        margin: 15px auto;
        font-size: 17px;
        text-align: center;
    }
}

@media only screen and (max-width: 970px) {
    .row{
        margin-bottom: 0;
    }
    .indu .title-industry h1 {
        font-size: 2.6em;
    }
    .indu .title-industry h3{
        font-size: 1.1em;
        margin: 0;
    }
    .item img {
        width: 50px;
        margin: 0 auto;
    }
    .item span{
        font-size: 14px;
    }
}

@media only screen and (max-width: 840px) {

    .indu .title-industry h1 {
        font-size: 2em;
    }
    .indu .title-industry h3{
        font-size: 1em;
        margin: 0 40px;
    }
    .item img {
        width: 40px;
        margin: 0 auto;
    }
    .item{
        min-width: 120px;
    }
}

@media only screen and (max-width: 670px) {
    .item{
        margin: 10px auto;
        min-width: 100px;
    }
}

@media only screen and (max-width: 500px) {
    .indu .title-industry h1 {
        font-size: 1.7em;
    }
    .item span{
        font-size: 12px;
    }
}
